.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    line-height: 60px;
    background-color: #303030;
}

.footercontainer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

body {
    margin-bottom: 64px;
}

html {
    position: relative;
    min-height: 100%;
}

.footertext {
    color: #6c757d!important;
    font-size: 10px;
}

.jumbotron {
	background-color: white;
}

.shadow {
	box-shadow: 6px 3px 20px 0px rgba(116,116,116,0.73);
}

.jsize {
	height: 300px;
}